<p id="notice"><%= notice %></p>

<p>
  <strong>Lecture module:</strong>
  <%= @week.lecture_module %>
</p>

<p>
  <strong>Week number:</strong>
  <%= @week.week_number %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
