<p>
  <strong>User:</strong>
  <%= @note.user %>
</p>

<p>
  <strong>Lecture module:</strong>
  <%= @note.lecture_module %>
</p>

<p>
  <strong>Week:</strong>
  <%= @note.week %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
