<% if todo_list.id == task.todo_list_id %>
  <% if !@new_task.nil? && task == @new_task[0] %>
  <div class='task<%= task.get_due_status %> new_task' id='task_<%= task.id %>'>
  <% elsif !@completed_task.nil? && task == @completed_task %>
  <div class='task<%= task.get_due_status %> completed_task' id='task_<%= task.id %>'>
  <% elsif !@updated_task.nil? && task == @updated_task %>
  <div class='task<%= task.get_due_status %> updated_task' id='task_<%= task.id %>'>
  <% else %>
  <div class='task<%= task.get_due_status %>' id='task_<%= task.id %>'>
  <% end %>
    <li class='list-item task-item'>
      <div class='row'>

        <!-- Checkbox -->
        <div class='col-1'>
          <div class='form-check'>
            <input type='checkbox' name='checkbox' id='checkbox'
                   value='<%= task.id %>' data-remote='true'
                   data-url='/tasks/<%= task.id %>/complete'
                   data-method='post' class='form-check-input toggle-task-checkbox'
                   <%= task.completed? ? "checked" : "unchecked" %>>
          </div>
        </div>

        <!-- Task Title -->
        <% if type == 'main' %>
          <div id='task_<%= task.id %>_title' class='col-10 col-sm-9 col-md-9 col-lg-9'
               contenteditable='true'
               data-url='/tasks/<%= task.id %>'
               data-task='<%= task %>'>
        <% else %>
          <div id='task_<%= task.id %>_title_popover' class='col-10'
               contenteditable='true'
               data-url='/tasks/<%= task.id %>'
               data-task='<%= task %>'>
        <% end %>
            <%= task.title %>
            <span class='edit_icon'><i class='fas fa-pencil-alt'></i></span>
          </div>

        <!-- Task Due Date and Edit/Delete buttons -->
        <% if type == 'main' %>
          <%= render partial: 'tasks/task_date_edit_delete', locals: { task: task } %>
        <% end %>

      </div>
    </li>
    <hr>
  </div>
<% end %>
