<% if todo_list.id == task.todo_list_id %>
  <div class='task<%= task.get_due_status %>' id='task_<%= task.id %>'>
    <% if task == @current_task %>
    <li class='list-item task-item current_task'>
    <% else %>
    <li class='list-item task-item'>
    <% end %>
      <div class='row'>

        <!-- Checkbox -->
        <div class='col-1'>
          <div class='form-check'>
            <input type='checkbox' name='checkbox' id='checkbox'
                   value='<%= task.id %>' data-remote='true'
                   data-url='/tasks/<%= task.id %>/complete'
                   data-method='post' class='form-check-input toggle-task-checkbox'
                   <%= task.completed? ? "checked" : "unchecked" %>>
          </div>
        </div>

        <!-- Task Title -->
        <% if type == 'main' %>
          <div class='col-10 col-sm-9 col-md-9 col-lg-9'>
        <% else %>
          <div class='col-10'>
        <% end %>
            <%= task.title %>
          </div>

        <!-- Task Due Date and Edit/Delete buttons -->
        <% if type == 'main' %>
          <%= render partial: 'tasks/task_date_edit_delete', locals: { task: task } %>
        <% end %>

      </div>
    </li>
    <hr>
  </div>
<% end %>
