<div class='card'>
  <div class='card-header'>
    <a class='card-link' data-toggle='collapse' data-parent='#accordion' href='#collapse_<%= type %>_<%= todo_list.id %>'>
      <td><%= todo_list.title %></td>

      <% if type == 'main' %>
      <%= render partial: 'todo_lists/todo_list_edit_delete_links',
                 locals: { todo_list: todo_list } %>
      <% end %>

    </a>
  </div>

  <% if !@open_list_id.nil? %>
    <% if todo_list.id==@open_list_id %>
      <div id='collapse_<%= type %>_<%= todo_list.id %>' class='collapse show'>
    <% else %>
      <div id='collapse_<%= type %>_<%= todo_list.id %>' class='collapse'>
    <% end %>
  <% else %>
    <% if todo_list.id==@todo_lists_global[0].id %>
      <div id='collapse_<%= type %>_<%= todo_list.id %>' class='collapse show'>
    <% elsif !@completed_task.nil? && todo_list.id==(@completed_task.todo_list_id) %>
      <div id='collapse_<%= type %>_<%= todo_list.id %>' class='collapse show'>
    <% else %>
      <div id='collapse_<%= type %>_<%= todo_list.id %>' class='collapse'>
    <% end %>
  <% end %>

    <%= render partial: 'todo_lists/todo_list_body',
               locals: { todo_list: todo_list,
                         type: type } %>
  </div>
</div>
