<p id="notice"><%= notice %></p>

<h1>Todo Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "todo_list",
               collection: @todo_lists %>
  </tbody>
</table>

<br>

<div id="accordion">
  <% @todo_lists.each_with_index do |todo_list, i| %>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
        <td><%= todo_list.title %></td>
        <div class="show-edit-destroy-links">
          <td><%= link_to 'Show', todo_list %></td>
          <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
          <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </a>
    </div>
    <div id="collapse<%= i %>" class="collapse show">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Completed</th>
              <th>Title</th>
              <th>Due date</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: "tasks/task",
                       collection: @tasks_for_list[i],
                       locals: { short_view: true }%>
          </tbody>
        </table>

        <%= render 'tasks/add_new_task', task: @task, todo_list: todo_list %>

      </div>
    </div>
  </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <%= link_to '+ New Todo List', new_todo_list_path %>
    </div>
  </div>

</div>
