<p id="notice"><%= notice %></p>

<h1>Todo Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "todo_list",
               collection: @todo_lists %>
  </tbody>
</table>

<br>

<div id="accordion">
  <% @todo_lists.each_with_index do |todo_list, i| %>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
        <%= todo_list.title %>
      </a>
    </div>
    <div id="collapse<%= i %>" class="collapse show">
      <div class="card-body">
        <table>
          <thead>
            <tr>
              <th>Completed</th>
              <th>Todo List Name</th>
              <th>Title</th>
              <th>Due date</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: "tasks/task",
                       collection: @tasks_for_list[i] %>
          </tbody>
        </table>
        <!-- <%= link_to 'New Task', new_task_path(:todo_list => todo_list) %> -->


        <!-- TODO add code to create new task for this list without going to a separate page -->
        <%= render 'tasks/add_new_task', task: @task, todo_list: todo_list %>




      </div>
    </div>
  </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <%= link_to '+ New Todo List', new_todo_list_path %>
    </div>
  </div>

</div>
