<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @todo_list.user %>
</p>

<%= link_to 'Edit List', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back to all todo-lists', todo_lists_path %>

<br>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Todo List Name</th>
      <th>Title</th>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "tasks/task",
               collection: @tasks %>
  </tbody>
</table>
<br>

<%= link_to 'New Task', new_task_path(:todo_list => @todo_list) %>
