<%= form_with(model: lecture_module_content, local: true, html: { multipart: true }) do |form| %>
  <% if lecture_module_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture_module_content.errors.count, "error") %> prohibited this lecture_module_content from being saved:</h2>

      <ul>
      <% lecture_module_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :lecture_module_content_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :week_id, id: :lecture_module_content_week, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for='content_type'>Content Type</label>
    <select id="content-type-selector" class="form-control" name="content-type-selector">
      <option value="Select">Please select a content type</option>
      <option value="PDF">PDF</option>
      <option value="YouTube Video">YouTube Video</option>
    </select>
  </div>

  <div class="form-group hidden-to-start" id="content-upload-form-option">
    <%= form.label :content %>
    <%= form.file_field :content, id: :lecture_module_content_content_file_name, class: 'form-control' %>
  </div>

  <div class="form-group hidden-to-start" id="youtube-link-form-option">
    <p>Please only include the source string of the youTube embed HTML</p>
    <%= form.label :youTube_link %>
    <%= form.text_field :youTube_link, id: :lecture_module_content_youTube_link, class: 'form-control', placeholder: 'https://www.youtube.com/embed/..........' %>
  </div>

  <div class="form-group actions hidden-to-start" id="submit-content-btn">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
