<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand d-flex w-20 mr-auto">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>

      <!-- Left hand side: Home, Modules, Todo Lists -->
      <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
        <ul class="nav navbar-nav mr-auto w-100 justify-content-start">
          <li class="nav-item">
            <%= link_to 'Modules', lecture_modules_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Todo Lists', todo_lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Timetable', '/pages/timetable', class: "nav-link" %>
          </li>
        </ul>

        <!-- Middle: Timer dropdown, timer, start, pause, reset -->
        <ul class="nav navbar-nav mx-auto w-100 justify-content-center align-items-center" id="nav_timer_list" >
          <li class="nav-item">
            <div class="btn-group">
              <button class="btn btn-outline-light dropdown-toggle btn-sm " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Timer
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" id="study-timer-btn">Study</a>
                <a class="dropdown-item" id="short-break-btn">Short Break</a>
                <a class="dropdown-item" id="long-break-btn">Long Break</a>
                <!-- Button trigger modal -->
                <button type="button" class="dropdown-item" data-toggle="modal" data-target="#timer_settings_modal">
                  <i class="fas fa-cog"></i> Settings
                </button>
              </div>
            </div>
          </li>
          <li class="nav-item">
              <a id='timer'><span id='minutes'></span>00:00<span id='seconds'></span></a>
          </li>
          <li class="nav-item">
            <ul class="list-inline" id="timer_buttons">
              <li class="list-inline-item">
                <i class='far fa-play-circle btn btn-outline-light btn-sm' id="start-btn"></i>
              </li>
              <li class="list-inline-item">
                <i class='far fa-pause-circle btn btn-outline-light btn-sm' id="stop-btn"></i>
              </li>
              <li class="list-inline-item">
                <i class='fas fa-undo-alt btn btn-outline-light btn-sm' id="reset-btn"></i>
              </li>
            </ul>
          </li>
        </ul>

        <!-- Right hand side: Log out -->
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end align-items-center">
          <li class="nav-item"><%= current_user.username %></li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, :method=>'delete', class: "nav-link", id: "logout-btn" do %>
              <i class='fa fa-sign-out-alt'></i> Log Out
            <% end %>
          </li>
        </ul>
      </div>

    <% end %>
  </div>
</nav>
