<%= form_with(model: timer, remote: true) do |form| %>
  <% if timer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timer.errors.count, "error") %> prohibited this timer from being saved:</h2>

      <ul>
      <% timer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.hidden_field :user_id, id: :timer_user_id %>
  </div>

  <div class="form-group">
    <%= form.label :study_length %>
    <%= form.number_field :study_length, id: :study_timer_input, class: 'form-control', min: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :short_break_length %>
    <%= form.number_field :short_break_length, id: :short_break_input, class: 'form-control', min: 1 %>
  </div>

  <div class="form-group">
    <%= form.label :long_break_length %>
    <%= form.number_field :long_break_length, id: :long_break_input, class: 'form-control', min: 1 %>
  </div>

  <div class="form-group actions">
    <%= form.submit 'Save Changes', :class => "btn btn-primary", :id => "save-timer-settings" %>
  </div>
<% end %>
