<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timer.user %>
</p>

<p>
  <strong>Study length:</strong>
  <%= @timer.study_length %>
</p>

<p>
  <strong>Short break length:</strong>
  <%= @timer.short_break_length %>
</p>

<p>
  <strong>Long break length:</strong>
  <%= @timer.long_break_length %>
</p>

<%= link_to 'Edit', edit_timer_path(@timer) %> |
<%= link_to 'Back', timers_path %>
