<%= form_with(model: subtask, local: true) do |form| %>
  <% if subtask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subtask.errors.count, "error") %> prohibited this subtask from being saved:</h2>

      <ul>
      <% subtask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :task_id %>
    <%= form.text_field :task_id, id: :subtask_task_id %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :subtask_title %>
  </div>

  <div class="form-group">
    <%= form.label :due_date %>
    <%= form.text_field :due_date, id: :task_due_date,
            "data-provide" => "datepicker",
            "data-date-format" => "yyyy-mm-dd",
            "data-date-orientation" => "auto" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :completed, id: :subtask_completed, value: false %>
  </div>

  <div class="form-group actions">
    <%= form.submit %>
  </div>
<% end %>
