<% if local_assigns.has_key? :task %>
  <% if (local_assigns.fetch :task).id == subtask.task_id %>
    <li class="list-inline-item">
      <div class="form-check">
        <label class="form-check-label" style="inline">
          <!-- TODO Make this work using checking/unchecking box to trigger action. Use javascript to make AJAX request -->
          <% if subtask.completed? %>
            <input type="checkbox" class="form-check-input" id="task_completed_check_<%= subtask.id %>" checked>
          <% else %>
            <input type="checkbox" class="form-check-input" id="task_completed_check_<%= subtask.id %>">
          <% end %>
          <!-- <%= check_box subtask, complete_subtask_path(subtask), {checked: subtask.completed}, method: :put %><%= subtask.completed %> -->
          <%= button_to 'Toggle', complete_subtask_path(subtask), method: :post %>
        </label>
      </div>
    </li>
    <% if local_assigns.has_key? :short_view %>
      <% if !local_assigns.fetch :short_view %>
        <li class="list-inline-item"><%= subtask.task.title %></td>
      <% end %>
    <% end %>
    <li class="list-inline-item"><%= subtask.title %></li>
    <li class="list-inline-item"><%= subtask.due_date %></li>
    <li class="list-inline-item"><%= link_to 'Show', subtask %></li>
    <li class="list-inline-item"><%= link_to 'Edit', edit_subtask_path(subtask) %></li>
    <li class="list-inline-item"><%= link_to 'Destroy', subtask, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
<% end %>
