<%= form_with(model: lecture_module, local: true) do |form| %>
  <% if lecture_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture_module.errors.count, "error") %> prohibited this lecture_module from being saved:</h2>

      <ul>
      <% lecture_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, id: :lecture_module_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :academic_year_end %>
    <%= form.number_field :academic_year_end, id: :lecture_module_academic_year_end, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :semester %>
    <%= form.select :semester, ['Autumn','Spring','Academic Year'], { :selected => params[:semester] }, id: :lecture_module_semester, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_area :name, id: :lecture_module_name, class: 'form-control' %>
  </div>

  <div class="form-group actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
