<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_lecture_module_path(@lecture_module) %> |
<%= link_to 'Back', lecture_modules_path %>

<h1>Lecture Module Contents</h1>

<div id="accordion">
  <% for i in 1..12 do %>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
        Week <%= i %>
      </a>
    </div>
    <div id="collapse<%= i %>" class="collapse">
      <div class="card-body">
        <ul class="list-unstyled">
          <% if @weekly_content[i].length === 0 %>
            <li class="list-item">No content exists for Week <%= i %> of this module yet</li>
          <% else %>
            <%= render partial: "lecture_module_contents/lecture_module_content_in_module_show",
                       as: :lecture_module_content,
                       collection: @weekly_content[i],
                       locals: { show_pdf: true,
                                 show_youTube: true } %>

            <!-- TODO make this next bit a partial? -->
            <li class="list-item">
              <% if @weeks_with_notes.include? i %>
                <% @notes.each do |note| %>
                  <% if note.week == i %>
                    <h3>Notes</h3>
                    <%= render 'notes/add_edit_notes', note: note, user: current_user, lecture_module: @lecture_module, week: i %>

                  <% end %>
                <% end %>
              <% else %>
                <h3>Add new note</h3>
                <%= render 'notes/add_edit_notes', note: Note.new, user: current_user, lecture_module: @lecture_module, week: i %>
              <% end %>

            </li>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Lecture Module Content', new_lecture_module_content_path(:lecture_module => @lecture_module) %>
