<div class='row'>
  <div class='col-12 col-lg-11'>
    <h3><%= @page_title %></h3>
  </div>
  <div class='col-3 col-lg-1'>
    <!-- Module Edit/Delete buttons -->
    <%= render partial: 'lecture_modules/lecture_module_edit_delete_links', locals: { lecture_module: @lecture_module } %>
  </div>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item active"><a data-toggle="tab" href="#week1" class="nav-link small active"><h6>Week 1</h6></a></li>
  <% for i in 2..12 do %>
    <li class="nav-item"><a data-toggle="tab" href="#week<%= i %>" class="nav-link small"><h6>Week <%= i %></h6></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% for i in 1..12 do %>
    <% if i == 1 %>
    <div id="week1" class="tab-pane fade in active show">
    <% else %>
    <div id="week<%= i %>" class="tab-pane fade">
    <% end %>
      <br>
      <% if can? :new, LectureModuleContent.new(week: @weeks[i-1]) %>
        <%= link_to new_lecture_module_content_path(week: @weeks[i-1]), class: 'float-right' do %>
          Add Content to Week <%= i %>
        <% end %>
      <% end %>
      <h3>Week <%= i %></h3>


      <% if @weekly_content[i-1].empty? %>
        <p>No content exists for Week <%= i %> of this module yet.</p>
      <% else %>
        <div id="content_section">
          <ul class="list-unstyled">
              <%= render partial: "lecture_module_contents/lecture_module_content",
                         collection: @weekly_content[i-1],
                         locals: { show_pdf: true,
                                   show_youTube: true } %>
          </ul>
        </div>


        <div id="notes_section_<%= @weeks[i-1].id %>" class="notes_section">
          <%= render partial: 'notes/notes_section',
                     locals: { week: @weeks[i-1] } %>
        </div>

        <div id="comments_section_<%= @weeks[i-1].id %>" class="comments_section">
          <%= render partial: 'comments/comments_section',
                     locals: { week: @weeks[i-1] } %>
        </div>
      <% end %>

    </div>

  <% end %>
</div>

<br>
<hr>
<br>
<p>Any notes that you add to a module will only be visible by you.</p>
