<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_lecture_module_path(@lecture_module) %> |
<%= link_to 'Back', lecture_modules_path %>

<h1>Lecture Module Contents</h1>

<div id="accordion">
  <% for i in 1..12 do %>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
        Week <%= i %>
      </a>
    </div>
    <div id="collapse<%= i %>" class="collapse">
      <div class="card-body">
        <ul class="list">
          <% puts @weekly_content[i].length %>
          <% if @weekly_content[i].length === 0 %>
            <li>No content exists for Week <%= i %> of this module yet</li>
          <% else %>
            <%= render partial: "lecture_module_contents/lecture_module_content_in_module_show",
                       as: :lecture_module_content,
                       collection: @weekly_content[i],
                       locals: { show_pdf: true,
                                 show_youTube: true } %>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Lecture Module Content', new_lecture_module_content_path(:lecture_module => @lecture_module) %>
