<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @lecture_module.code %>
</p>

<p>
  <strong>Academic year end:</strong>
  <%= @lecture_module.academic_year_end %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @lecture_module.semester %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lecture_module.name %>
</p>

<%= link_to 'Edit', edit_lecture_module_path(@lecture_module) %> |
<%= link_to 'Back', lecture_modules_path %>

<h1>Lecture Module Contents</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Academic year end</th>
      <th>Week</th>
      <th>Data source</th>
      <th>Description</th>
      <th>Lecture module</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module_content.each do |lecture_module_content| %>
      <tr>
        <td><%= lecture_module_content.code %></td>
        <td><%= lecture_module_content.academic_year_end %></td>
        <td><%= lecture_module_content.week %></td>
        <td><%= lecture_module_content.data_source %></td>
        <td><%= lecture_module_content.description %></td>
        <td><%= lecture_module_content.lecture_module %></td>
        <td><%= link_to 'Show', lecture_module_content %></td>
        <td><%= link_to 'Edit', edit_lecture_module_content_path(lecture_module_content) %></td>
        <td><%= link_to 'Destroy', lecture_module_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Lecture Module Content', new_lecture_module_content_path(:lecture_module => @lecture_module) %>
