<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learning Platform Dissertation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body class='<%= controller.controller_name %>'>

    <%= render partial: "shared/navbar" %>

    <div class="container">
      <% if !notice.nil? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if !alert.nil? %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <h1><%= @page_title %></h1>

      <%= yield %>
    </div>

    <%= render partial: "shared/footer" %>

    <% if user_signed_in? %>
      <!-- Modal for timer settings -->
      <%= render partial: "shared/timer_settings_modal" %>
    <% end %>

  </body>
</html>
