<!DOCTYPE html>
<html>
  <head>
    <title>Dissertation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div id="header_bar">
        <div class="container" id="nav_menu">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Menu
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item"><%= link_to 'Modules', lecture_modules_path %></a>
              <a class="dropdown-item"><%= link_to 'All Module Content', lecture_module_contents_path %></a>
              <a class="dropdown-item"><%= link_to 'All Todo Lists', todo_lists_path %></a>
              <a class="dropdown-item"><%= link_to 'All Tasks', tasks_path %></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' if user_signed_in? %></a>
            </div>
          </div>
        </div>
      </div>


      <div id="title_bar">
        <%= @page_title || "Dissertation" %>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
